* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: radial-gradient(
    circle,
    #ff4fd8 0%,
    #ff1493 30%,
    #5b007a 70%,
    #09000f 100%
  );

  height: 100vh;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.card {
  width: 400px;
  padding: 40px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 30px rgba(255, 20, 147);
  text-align: center;
  color: white;
}

.card h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.subtitle {
  color: #ffd1f5;
  margin-bottom: 30px;
}

.upload-box {
  margin-bottom: 20px;
}

input[type="file"] {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.12);
  color: white;
  cursor: pointer;
}

.file-info {
  margin-bottom: 20px;
  color: #ffffff;
}

.file-info span {
  color: #ffd1f5;
  margin-left: 8px;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(
    90deg,
    #ff1493,
    #ff4fd8
  );

  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px #ff1493;
}